 :root {
    --color-brand-light: #2B7FFF;
    --color-brand-dark:#011C44 ;
    --color-brand-secondary:#747272;
    --color-brand-main:#FFFFFF;
}
/* Base */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap');

body{
    color:var(--color-brand-dark);
    font-family: 'Roboto';
}
*{
    box-sizing: border-box;
    text-decoration: none;
}

h1,h2,h3,p {
    margin: 0;
}
ul{ 
    list-style-type: none;
    margin: 0;
}

/* header */


.header-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    padding-top: 43px;
    padding-bottom: 50px;
    
    
    
}
.header-menu{
    flex-grow: 1;
    
}
.header-nav{
display: flex;
gap: 62px;
justify-content: center;
flex-grow: 1;
margin-left: 240px;

}

.container{
    width: 100%;
    max-width: 1288px;
    margin: 0 auto;
    padding: 20px;

}





/* higher button */
.clinic{
    margin-bottom: 16px;
}

/* Button */
.button {
color: white;
font-family: 'Roboto';
font-size: 16px;
background-color:var(--color-brand-light) ;
border:2px solid var(--color-brand-light);
border-radius:32px ;
cursor: pointer;
padding: 16px 32px ;
margin-top: 0;
margin-bottom: 14px;
}
.button:hover{
    color:black ;
    background-color: transparent;
    
}
/* under button */
.consultation{
font-size: 12px;
width: 238px;
}
/* Link  */
.link{
 color:var(--color-brand-light);
}

.link:hover{
color:var(--color-brand-dark) ;
}

/* title */
.section-title{
    color: var(--color-brand-light);
}
span{
    color:var(--color-brand-light);
}
.title-main{
    font-family: 'Roboto';
    font-size: 64px;
    padding-bottom: 48px;
    text-align: center;
    
}

/* section */

.section{
    padding: 48px 0;
}

/* hero-section */
.hero-section{
    padding-bottom: 150px 0;
    margin-left: 205px;
   background: linear-gradient(to left,rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255,255,255, 1), rgba(255, 255, 255, 1)), url(./background-beauty.jpg);
   
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}  
    
.hero-title{
 color: var(--color-brand-light);   
 font-family: Play, sans-serif;
 font-size: 140px;
 text-transform: capitalize;
 text-align: left;
margin-bottom: 40px;
}


/* section-acquaintance */
.section-info{
    padding-top: 155px ;
}
.info-title{
    font-size: 64px;
    margin-bottom: 40px;
}

.info-content{
    display: flex;
}
.info-text{
 font-size: 22px;
 width: 709px;
}
.info-text-first {
    margin-bottom: 40px;
    font-size: 22px; 
}
.mask{
    width: 327px;
    height: 327px;
    border-radius: 50%;
}
.mask-down{
    width: 327px;
    height: 327px;
    margin-left: 800px;
  
}

/* .people-section */

.curved svg{
    display: block;
   
}
.people-section{

    padding-top: 116px;
    background-image: linear-gradient(rgba(43, 127, 255, 0.5),rgba(43, 127, 255, 0.2),rgba(43, 127, 255, 0.1) );
    margin-top: 0;
}
.people-container{
   display: flex;
   
}
.people-box{
    display: flex;
    justify-content: center;
    flex-grow: 1;
    gap: 56px;
}
.people-item{
    border: 4px solid white; 
    border-radius: 32px;
    background-color: white;
    padding: 24px 32px ;
    text-align: center;
   
}

/* procedure */
.section-procedure{
    padding-top: 96px;
    background-image: linear-gradient(rgba(43, 127, 255, 0.1),rgba(43, 127, 255, 0),rgba(43, 127, 255, 0) );

}
.container-procedure{
    display: flex;
  
}
.box-procedure{
    display: flex;
   align-items: center;
    flex-grow: 1;
   gap: 26px;
    padding-left: 0;
    overflow-y: hidden;
}

.procedure-item{
    display: flex;}

 .carousel-items{
        display: flex;
  
    }
    

.procedure-img{
    transition: border-radius 500ms ease-in-out;
    border-top-right-radius: 120px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 120px;
    border-bottom-right-radius: 4px;
}
.procedure-img:hover {
    border-radius:0% 100% 0% 100% / 40% 55% 45% 60%;
}

.arrow{
    display: flex;
    flex-grow: 1;
    cursor: pointer;
}

.last-arrow{
    transform: rotate(180deg);
}


       
           
    
    /* border-top-left-radius — для верхнего левого угла;
    border-top-right-radius — для верхнего правого угла;
    border-bottom-left-radius — для нижнего левого угла;
    border-bottom-right-radius — для нижнего правого угла. */






/* map */

        .map {
            display: flex;
          width: 605px;
          height: 481px;
          border-radius: 32px;
        }
.title-form{
   
    font-size: 22px;
    color: var(rgba(43, 127, 255, 0.5));


}
.container-form{
    display: flex;
    gap: 32px;}
    /* form */
.wrapper-form {
    width:423px ;
    height:481px ;
            background-image: url(./images/background-contact.png);
            background-color: rgba(1, 28, 68, 1);
            padding: 2rem 0 1rem 0;
            border-radius: 32px;
            text-align: center;
            box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
            color: white;
            
        }
    
.text-form {
            border-radius: 32px;
            width: 310px;
            height: 52px;
            margin-bottom: 16px;
            font-size: 13px;
            padding: 18px 32px;
            color: rgb(146, 41, 41);
            border-color: #FFFFFF;
            background: transparent;
        }
        .text-form:hover{
            background-color: #aaa;
        }
    
.form {
            margin-bottom: 16px;
        }
    
.title-form {
            margin-bottom: 32px;
            font-size: 22px;
        }
    
.button-form {
            margin-bottom: 8px;
            border-radius: 32px;
            padding: 16px 32px;
            font-size: 18px;
            color: #FFFFFF;
    border: 2px solid var(--color-brand-light);
    background-color: var(--color-brand-light);
       
    
        }


                /* .button {
                    color: white;
                    font-size: 16px;
                    background-color: var(--color-brand-light);
                    border: 2px solid var(--color-brand-light);
                    border-radius: 32px;
                    cursor: pointer;
                    padding: 16px 32px;
                    margin-top: 0;
                    margin-bottom: 14px;
                } */
        
                .button-form:hover {
                    color: black;
                    font-size: 18px;
                    background-color: transparent;
        
                }
    
.political-form {
            font-size: 12px;
        }

/* footer */
footer{
  
    position: relative;
    text-decoration: none;
    display: flex;
    background-image: url(./images/background-footer.png);
    background-color:var(--color-brand-dark);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 56px;
    padding-bottom: 98px;
   
    
}

.footer::after{

}

.footer::before{

}

.logo-footer{
    margin-right: 186px;
    flex-grow: 1;
}


.footer-container{
    display: flex;
    align-items: center;
    font-size: 16px; 
 gap: 186px;
   
}

.footer-adress{
    flex-grow: 1;

}
.footer-menu{
    flex-grow: 1;
}

.nav-footer{
    flex-grow: 1;

}
.political-footer {

display: flex;
    color: var(--color-brand-main);
}

.footer-text{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color: white;
font-size: 16px;
margin-bottom: 16px;
}   

 .icons-footer{
    display: flex;
}
/* .social-icons{
    display: flex;
} */ 


.serum-footer{
    position: absolute;
    right: 0;
    bottom: 0;
}

/* Модальный (фон) */
.modal {
    display: none;
    /* Скрыто по умолчанию */
    position: fixed;
    /* Оставаться на месте */
    z-index: 1;
    /* Сидеть на вершине */
    left: 0;
    top: 0;
    width: 100%;
    /* Полная ширина */
    height: 100%;
    /* Полная высота */
    overflow: auto;
    /* Включите прокрутку, если это необходимо */
    background-color: rgb(0, 0, 0);
    /* Цвет запасной вариант */
    background-color: rgba(0, 0, 0, 0.4);
    /* Черный с непрозрачностью */
}

/* Модальное содержание/коробка */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% сверху и по центру */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Может быть больше или меньше, в зависимости от размера экрана */
}

/* Кнопка закрытия */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


